<h1>Your current Lists</h1>

<% if @lists.any?() %>
  <h3>Here are your lists:</h3>
  <ul>
    <%@lists.each() do |list| %>
      <li><a href="/lists/<%= list.id()%>"><%= list.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no lists yet</p>
<% end %>

<span class="btn btn-success" id="new_list_toggle">Add a new list</span>

<div class="container" id="new_list_name">
  <form action="/new_list" method="post">
    <label for="name">Enter name</label>
    <input type="text" name="name" value="">
    <button type="submit" name="button" id="new_list_hide">Create new list</button>
  </form>
</div>
